.curv-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: -40px; /* Adjust the spacing for overlap effect */
    margin-top: 50px;
  }
  
  .curv-item {
    position: relative;
    overflow: hidden;
    width: 300px; /* Adjust the width as needed */
    height: 400px; /* Adjust the height as needed */
    border: 2px solid black;
  }
  
  .curv-item img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%); */
    clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
  }
  
  